@tailwind base;
@tailwind components;
@tailwind utilities;

.logo_monaco{
    width: 50px;
    height: 50px;

}



.btn_hero {
    --color1: #111ece;
    --color2: #111ece;
    perspective: 1000px;
    padding: 1em 1em;
    background: linear-gradient(var(--color1), var(--color2));
    border: none;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 0 10px 10px #000;
    cursor: pointer;
    transform: rotateX(70deg) rotateZ(30deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .btn_hero::before {
    content: "";
    width: 100%;
    height: 15px;
    background-color: var(--color2);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
  }
  
  .btn_hero::after {
    content: "";
    width: 15px;
    height: 100%;
    background-color: var(--color1);
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
  }
  
  .btn_hero:hover {
    transform: rotateX(30deg) rotateZ(0);
  }
  


  /* começando cards*/
  .parent {
  width: 100%;
  height: 300px;
  perspective: 1000px;
}

.card {
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(135deg, rgb(15, 65, 234) 0%, rgb(89, 89, 89) 100%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.glass {
  transform-style: preserve-3d;
  position: absolute;
  inset: 8px;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
  transform: translate3d(0px, 0px, 25px);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease-in-out;
}

.content {
  padding: 40px 30px;
  text-align: center;
  transform: translate3d(0, 0, 26px);
}

.content .title {
  display: block;
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
}

.content .text {
  display: block;
  color: rgba(220, 220, 220, 0.8);
  font-size: 15px;
  margin-top: 10px;
}

.parent:hover .card {
  transform: rotate3d(1, 1, 0, 10deg);
  box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
}

.parent:hover .glass {
  transform: translate3d(0, 0, 30px);
}


.space-y-6{
  
}